h1 {
    color: crimson;
}

.container img {
    width: 100%;
    height: auto;
}

#s {
    font-size: 18px;
    /* border: 1px solid; */
}

#sz {
    width:100%;
    height: auto;
}

#ram {
    font-size: 25px;
    color: gray;
}

#nhm {
    font-size: 25px;
    color: gray;
}

#text {
    font-size: 20px;
}

.division{
  width:50%;
  height:100px;
  float:left;
}
